<div class="grid-container">
  <div class="page-body">
    <div>
      <img class="image" [src]="!productImage ? product.image : productImage" />
    </div>
    <div class="product-description-container">
      <div class="product-description">
        <h2>Product Description</h2>
        <p>{{ getFirstHalfOfDesciption() }}</p>
        <p
          (click)="showDescription = !showDescription"
          style="color: red; text-decoration: underline; cursor: pointer;"
        >
          Click To Read More About This Product.
        </p>
        <div *ngIf="selectedStyle">
          <h3 class="selected-product">In Stock and Ready To Ship</h3>
        </div>
        <p *ngIf="showDescription === true; else hideDescription">
          {{ getSecondHalfOfDescription() }}
        </p>
        <ng-template #hideDescription></ng-template>

        <div class="flex-container-column">
          <div style="display: flex; margin-bottom: 1rem;">
            <strong>Choose Style:</strong>
            <span style="margin-left: 0.5rem;">
              {{ selectedProduct }}
              <span
                *ngIf="selectedProduct; else selected"
                class="selected-product"
                >In Stock</span
              >
            </span>
            <ng-template #selected>
              <span class="selected-product" *ngIf="selectedStyle">{{
                selectedStyle
              }}</span>
            </ng-template>
          </div>
          <span class="error-message" *ngIf="errorMessage !== ''">{{
            errorMessage
          }}</span>
          <div class="choose-style">
            <div
              [ngClass]="style.color"
              (mouseover)="setImageContainerClass($event, style.color, style.image)"
              class="img-container"
              *ngFor="let style of productStyles"
              :key="style.color"
            >
              <div
                [ngClass]="{ 'selected-style': selectedStyle === style.color }"
              >
                <img
                  (click)="setProductStyle($event, style.color)"
                  (mouseout)="setImageContainerClass($event, '')"
                  style="width: 100%;"
                  [src]="style.image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="checkout-component">
      <div class="center-content">
        <p class="border-container">
          Have Questions 888-553-1105 Call our experts for product info and
          phone-only specials. <a href="#"> Or click here to chat now</a>
        </p>
      </div>
      <div class="center-content">
        <app-add-to-cart
          [product]="product"
          [selectedStyle]="selectedStyle"
          (errorMessage)="getErrorMessage($event)"
          [isThereAnError]="isThereAnError"
        ></app-add-to-cart>
      </div>
      <div class="center-content">
        <p class="border-container">
          Free Store Pick Up: Available Today Location: Jacksonville, FL View
          More Stores For Availability
        </p>
      </div>
    </div>
  </div>
</div>
