<div>
  <h3 style="text-align: left;">Price:</h3>
  <div class="chekout-container">
    <div>
      <h3>
        <strong>{{ product.price | currency }}</strong>
      </h3>
    </div>
    <div
      style="display: flex; justify-content: space-between; align-items: center;"
    >
      <div>
        <select style="margin-right: 1rem; width: 50px;" name="item-quantity">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
      </div>
      <div>
        <button
          style="padding: 1rem; color: white; font-size: 20px; background: red;"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>
