<div class="chekout-container">
  <h3>
    <strong> Price: {{ product.price | currency }}</strong>
  </h3>

  <div class="flex-container-column">
    <form
      #addToCartForm="ngForm"
      class="flex-container-row"
      novalidate
      (ngSubmit)="addToCart(addToCartForm)"
    >
      <input
        #quantity="ngModel"
        required
        name="productQuantity"
        [(ngModel)]="productQuantity"
        class="item-quantity"
      />
      <div class="button-container">
        <button
          (click)="incrementQuantitySelected()"
          class="select-button fa fa-chevron-up"
        ></button>
        <button
          (click)="decrementQuantitySelected()"
          class="select-button fa fa-chevron-down"
        ></button>
      </div>
      <button
        [disabled]="
          !quantity.valid ||
          ((quantity.touched && selectedStyle === '') ||
            isThereAnError === true)
        "
        [ngClass]="{
          'is-disabled':
            !quantity.valid ||
            ((quantity.touched && selectedStyle === '') ||
              isThereAnError === true)
        }"
        type="submit"
        class="add-to-cart"
        (click)="isStyleSelected($event, quantity.untouched)"
      >
        Add To Cart
      </button>
    </form>
    <span *ngIf="quantity.invalid; else notSelected" class="error-message">
      {{ setErrorMessage }}
    </span>
    <ng-template #notSelected>
      <span
        class="error-message"
        *ngIf="quantity.invalid || (quantity.touched && selectedStyle === '')"
      >
        Please select a style before adding to cart.
      </span>
    </ng-template>
  </div>
</div>

<!--
  ng-touched: you have to navigate away from form control for the value to change to ng-untouched
  ng-pristinr: value of form HAS NOT changed; ng-dirty: value HAS changed
  ng-valid: if form value IS VALID ng-valid is applied else ng-invalid is applied
 -->
<!--       *ngIf="quantity.value === 0 || quantity.pristine"
 -->

<!--  (click)="
          addToCartForm.untouched === true && selectedStyle === ''
            ? $event.preventDefault()
            : null
        " -->
