<div class="chekout-container">
  <h3>
    <strong> Price: {{ product.price | currency }}</strong>
  </h3>
  <div class="flex-container-column">
    <form #addToCartForm="ngForm" class="flex-container-row" novalidate>
      <input
        #quantity="ngModel"
        required
        name="productQuantity"
        [(ngModel)]="productQuantity"
        class="item-quantity"
      />
      <div class="button-container">
        <button
          (click)="incrementQuantitySelected()"
          class="select-button fa fa-chevron-up"
        ></button>
        <button
          (click)="decrementQuantitySelected()"
          class="select-button fa fa-chevron-down"
        ></button>
      </div>
      <button
        [disabled]="
          !quantity.valid ||
          isThereAnError === true ||
          (quantity.invalid || (quantity.touched && selectedStyle === ''))
        "
        [ngClass]="{
          'is-disabled':
            !quantity.valid ||
            isThereAnError === true ||
            (quantity.invalid || (quantity.touched && selectedStyle === ''))
        }"
        type="submit"
        class="add-to-cart"
        (click)="addToCart($event)"
      >
        Add To Cart
      </button>
    </form>
    <span *ngIf="quantity.invalid; else notSelected" class="error-message">
      {{ setErrorMessage }}
    </span>
    <ng-template #notSelected>
      <span
        class="error-message"
        *ngIf="quantity.invalid || (quantity.touched && selectedStyle === '')"
      >
        Please select a style before adding to cart.
      </span>
    </ng-template>
  </div>
</div>
