<div class="container" *ngFor="let product of productDetails">
  <div class="product-details">
    <div class="producut-title-container">
      <h1>{{ product.name }}</h1>
      <div class="product-sub-title">
        <p class="seperate">item Number: {{ product.itemNumber }}</p>
        <a href="#" class="reviews seperate">6 Reviews</a>
        <span class="title-seperator">|</span>
        <a href="#" class="reviews">Write a Review</a>
        <span class="title-seperator">|</span>
        <a href="#" class="reviews">Questions and Answers</a>
      </div>
    </div>
  </div>

  <app-product-description [product]="product"></app-product-description>

  <app-recomended-products
    [recomendedProductsData]="recomendedProductsData"
  ></app-recomended-products>

  <div class="more-information">
    <p>
      Over the decades, players have been continually inspired by the sound of a
      Strat. From the clarity of the high end, through the gut punch of the mids
      and the solid lows, it's a sound that's helped define what an electric
      guitar should be—versatile enough for any style and broad enough for any
      player to find an individual voice. This Player Series Stratocaster puts
      all of the classic features of the Strat at your fingertips while adding a
      modern edge, including a modern neck profile, medium-jumbo frets and a
      freshly redesigned 2-point fulcrum vibrato bridge. With a beautiful gloss
      finish over a solid alder body, a 22-fret pau ferro fingerboard with a
      contemporary 9.5" radius for easy bending, the Player Series Stratocaster
      is primed and ready to carry you along your musical voyage.
    </p>
    <div>
      <app-product-features [product]="product"></app-product-features>
    </div>
  </div>
</div>
