@import "font-awesome/css/font-awesome.css";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.images {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.image {
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
}

.flex-container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0.5rem;
  cursor: pointer;
}

.horizontal-line {
  background: #d3d3d3;
}

.error-message {
  color: red;
  font-size: 15px;
}

.add-to-cart {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 20px;
  background: red;
}

.border-container {
  border: 1px solid gray;
  padding: 1rem;
}
